.pieChartContainer {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(5, 5, 5, 0.06);
    padding: 0.5em;
    margin-left: 2em;
}

.exportToExcelBtn {
    margin-top: 2em;
    align-self: center;
}